# .dockerignore
__pycache__
__pycache__/
.cache/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.tmp
*.temp
.DS_Store
Thumbs.db
build/
dist/
site/
.git/
.gitignore
.github/
.vscode/
.vercel
.env
.env.example
.venv
.pre-commit-config.yaml
venv/
env/
tests/
templates/
docs/
LICENSE
CHANGELOG.md
README.md
*.yml
pytest.ini
sonar-project.properties
