# .dockerignore
__pycache__
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.tmp
*.temp
.DS_Store
Thumbs.db
build/
dist/
.git/
.gitignore
.github/
.vscode/
.vercel
.env
.env.example
.venv
venv/
env/
tests/
LICENSE
CHANGELOG.md
README.md
action.yml
pytest.ini
