bs4==0.0.2
DateTime==5.5
pipdeptree==2.23.4
playwright==1.48.0
PyGithub==2.4.0
pylint==3.3.1
pytest-asyncio==0.24.0
pytest-cov==6.0.0
pytest-mock==3.14.0
python-semantic-release==9.12.0
requests-mock==1.12.1
