# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/), and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html) & [Conventional Commits](https://www.conventionalcommits.org/en/v1.0.0/).

{%    if ctx.changelog_mode == "update"
%}{#  # IMPORTANT: add insertion flag for next version update
#}{{
        insertion_flag ~ "\n"

}}{%  endif
%}
