# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepa.changelog.com/en/1.1.0/),
and this project adheres to [Semantic Versioning](https://semver.org).

{%    if ctx.changelog_mode == "update"
%}{#  # IMPORTANT: add insertion flag for next version update
#}{{
        insertion_flag ~ "\n"

}}{%  endif
%}
