# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

{% for release in releases | sort(attribute="version", reverse=True) %}
## {{ release.version }} - {{
    release.date.strftime('%Y-%m-%d')
    if release.date and release.date.strftime
    else "Unknown Date"
}}
{% for commit in release.commit_groups %}
### {{ commit.title }}
{% for c in commit.commits %}
- {{ c.subject }}
{% endfor %}
{% endfor %}
{% endfor %}
