# CHANGELOG

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

{% if version %}
## [{{ version }}]({{ version_url }}) - {{ timestamp.split('T')[0] }}
{% else %}
## [Unreleased]
{% endif %}

{% for type_, commits in commits | groupby("type") %}
### {{ type_ | capitalize }}

{% for commit in commits %}
* {{ commit.message.rstrip() }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% endfor %}
{% endfor %}

{% if previous_versions %}
{% for version in previous_versions %}
## [{{ version.version }}]({{ version.url }}) - {{ version.date }}

{% for type_, commits in version.commits | groupby("type") %}
### {{ type_ | capitalize }}

{% for commit in commits %}
* {{ commit.message.rstrip() }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}

{{ context.history.changelog_content if context.history.changelog_content else "" }}
