{% set changelog_parts = prev_changelog_contents.split(
        ctx.changelog_insertion_flag, maxsplit=1
    )
%}
{{ changelog_parts[0] }}{{ ctx.changelog_insertion_flag }}

{% if ctx.changelog_mode == "update" %}
{%   include ".changelog_update.md.j2" %}
{% endif %}

{{ changelog_parts[1] if changelog_parts | length > 1 else '' }}
