{% set releases = context.history.released.values() | list %}
{% for release in releases %}
## {{ release.version }} ({{ release.date.strftime('%Y-%m-%d') }})

{% include "components/changes.md.j2" %}

---
{% endfor %}
