{% for release in context.history.released.values() %}
## {{ release.version }} ({{ release.tagged_date.strftime('%Y‑%m‑%d') }})
{% include "components/changes.md.j2" %}

**Detailed Changes**: [{{ prev_tag }}...{{ release.version.as_tag() }}]({{ prev_tag|compare_url(release.version.as_tag()) }})
**Installable artifacts are available from**:
- [PyPI Registry](...)
- [GitHub Release Assets](...)
---
{% endfor %}
