{% set ORDER = ["Breaking Changes", "Features", "Bug Fixes", "Performance", "Refactoring", "Style", "Tests", "Documentation", "Chore"] %}
{% set EMOJI_MAP = {
    "Breaking Changes": "💥",
    "Features": "✨",
    "Bug Fixes": "🪲",
    "Documentation": "📚",
    "Performance": "⚡",
    "Style": "🎨",
    "Tests": "🧪",
    "Refactoring": "🔨",
    "Chore": "🧹",
} %}

{% for title in ORDER %}
    {% set group = ctx.commit_groups | selectattr("title", "equalto", title) | list | first %}
    {% if group %}
### {{ EMOJI_MAP.get(title, "") }} {{ title }}
{%   for commit in group.commits %}
-   {{ commit.subject }}
{%   endfor %}
    {% endif %}
{% endfor %}
