# Static Application Security Testing
name: Bandit

on:
    workflow_call:
    push:
        branches: [master]
        paths:
            - ".github/workflows/bandit.yml"
            - "**/*.py"
    pull_request:
        branches: [master]

permissions:
    contents: read

jobs:
    sast-scan:
        if: |
            github.actor != 'dependabot[bot]' &&
            github.actor != 'github-actions[bot]' &&
            github.actor != 'protected-auto-commits[bot]'
        name: Bandit Scan
        concurrency: sast-scan
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                  egress-policy: audit
                  disable-telemetry: true
                  disable-sudo: true

            - name: Checkout Code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Set up Python
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
              with:
                  python-version: "3.13"
                  cache: "pip"

            - name: Install Bandit
              run: pip install bandit==1.8.6

            - name: Run Bandit Scan
              run: bandit -r . -f json -o bandit-report.json

            - name: Upload Bandit Scan Results
              if: always()
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
              with:
                  name: bandit-scan-results
                  path: bandit-report.json
