name: Codecov

on:
    push:
        branches: [master]
        paths:
            - ".github/workflows/coverage.yml"
            - "tests/*.py"
            - "sonar-project.properties"
    pull_request:
        branches: [master]

permissions:
    contents: read

jobs:
    code-coverage:
        if: |
            github.actor != 'dependabot[bot]' &&
            github.actor != 'github-actions[bot]' &&
            github.actor != 'protected-auto-commits[bot]'
        permissions:
            contents: read
            pull-requests: write
        name: Codecov
        runs-on: ubuntu-latest
        concurrency: code-coverage
        steps:
            - name: Harden the runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                  egress-policy: audit

            - name: Checkout Code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
              with:
                  fetch-depth: 0

            - name: Setup Python
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
              with:
                  python-version: "3.13"
                  cache: "pip"

            - name: Install Dependencies
              run: |
                  pip install -r requirements.txt
                  playwright install --with-deps chromium

            - name: Run tests with coverage
              run: |
                  pytest --cov=api --cov-report=xml --cov-report=term-missing
              env:
                  INPUT_STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
                  INPUT_STEAM_ID: ${{ vars.STEAM_ID }}
                  INPUT_STEAM_CUSTOM_ID: ${{ vars.STEAM_CUSTOM_ID }}
                  INPUT_WORKSHOP_STATS: True
                  INPUT_LOG_SCALE: True
                  GITHUB_REPOSITORY: ${{ github.repository }}

            - name: Upload test results to Codecov
              if: ${{ !cancelled() }}
              uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  files: ./coverage.xml
                  flags: unittests
                  name: codecov-umbrella
                  fail_ci_if_error: true

            - name: SonarQube Scan
              uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
