name: Codecov

on:
    push:
        branches: [master]
        paths:
            - ".github/workflows/coverage.yml"
            - "tests/*.py"
            - "sonar-project.properties"
    pull_request:
        branches: [master]

permissions:
    contents: read

jobs:
    code-coverage:
        if: |
            github.actor != 'dependabot[bot]' &&
            github.actor != 'github-actions[bot]' &&
            github.actor != 'protected-auto-commits[bot]'
        permissions:
            contents: read
            pull-requests: write
        name: Codecov
        runs-on: ubuntu-latest
        concurrency: code-coverage
        steps:
            - name: Harden the runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                  egress-policy: audit
                  disable-telemetry: true

            - name: Checkout Code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
              with:
                  fetch-depth: 0

            - name: Setup Python
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
              with:
                  python-version: "3.13"
                  cache: "pip"

            - name: Install Dependencies
              run: |
                  pip install -r requirements.txt
                  playwright install --with-deps chromium

            - name: Run tests with coverage
              run: |
                  pytest --cov=api --cov-report=xml --cov-report=term-missing
              env:
                  INPUT_STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
                  INPUT_STEAM_ID: ${{ vars.STEAM_ID }}
                  INPUT_STEAM_CUSTOM_ID: ${{ vars.STEAM_CUSTOM_ID }}
                  INPUT_WORKSHOP_STATS: True
                  INPUT_LOG_SCALE: True
                  GITHUB_REPOSITORY: ${{ github.repository }}

            - name: Upload test results to Codecov
              if: ${{ !cancelled() }}
              uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 # v1.2.1
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  files: ./coverage.xml
                  flags: unittests
                  name: codecov-umbrella
                  fail_ci_if_error: true

            - name: SonarQube Scan
              uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
