name: Deploy MkDocs

on:
    push:
        branches: [master]
        paths:
            - ".github/workflows/docs.yml"
            - "docs/**"
            - "mkdocs.yml"

permissions:
    contents: read

jobs:
    build:
        name: Build Docs
        concurrency:
            group: pages-deploy
            cancel-in-progress: true
        if: |
            github.actor != 'dependabot[bot]' &&
            github.actor != 'github-actions[bot]' &&
            github.actor != 'protected-auto-commits[bot]'
        runs-on: ubuntu-latest
        steps:
            - name: Harden the runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                  egress-policy: audit

            - name: GitHub App Token
              uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
              id: app-token
              with:
                  app-id: ${{ secrets.APP_ID }}
                  private-key: ${{ secrets.APP_PRIVATE_KEY }}

            - name: Checkout Code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
              with:
                  fetch-depth: 0
                  token: ${{ steps.app-token.outputs.token }}

            - name: Setup Python
              uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
              with:
                  python-version: "3.13"
                  cache: "pip"

            - name: Install Dependencies
              run: pip install ".[docs]"

            - name: Build Documentation
              run: mkdocs build --clean --strict
              env:
                  GOOGLE_ANALYTICS_ID: ${{ secrets.GOOGLE_ANALYTICS_ID }}

            - name: Setup Pages
              uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

            - name: Upload Pages Artifact
              uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
              with:
                  path: ./site

    deploy:
        name: Deploy Docs
        needs: build
        runs-on: ubuntu-latest
        permissions:
            pages: write
            id-token: write
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Harden the runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                  egress-policy: audit

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
