name: Steam Stats

on:
    schedule:
        # Runs every Monday at 12AM IST (UTC+5:30)
        - cron: "30 18 * * 0"
    workflow_dispatch:
    push:
        branches: [master]
        paths:
            - ".github/workflows/steam-stats.yml"
            - "api/*.py"

permissions:
    contents: read

jobs:
    steam-stats:
        if: |
            github.actor != 'dependabot[bot]' &&
            github.actor != 'github-actions[bot]' &&
            github.actor != 'protected-auto-commits[bot]'
        name: Steam Stats
        runs-on: ubuntu-latest
        concurrency: steam-stats
        steps:
            - name: Harden the runner
              uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
              with:
                  egress-policy: audit

            - name: GitHub App Token
              uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
              id: app-token
              with:
                  app-id: ${{ secrets.APP_ID }}
                  private-key: ${{ secrets.APP_PRIVATE_KEY }}

            - name: Run Steam Stats
              uses: docker://nicconike/steam-stats:master@sha256:4ff07d3a6c09403d59ee6dfe8259d8f7cd3e9b2b19d8fb523eeb55d57c7a5796
              env:
                  GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
                  INPUT_STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
                  INPUT_STEAM_ID: ${{ vars.STEAM_ID }}
                  INPUT_STEAM_CUSTOM_ID: ${{ vars.STEAM_CUSTOM_ID }}
                  INPUT_WORKSHOP_STATS: True
                  INPUT_LOG_SCALE: True
                  GITHUB_REPOSITORY: ${{ github.repository }}
